body {
    background-image: url('/images/nyc.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.text-white {
    opacity: 1 !important;
}